---
import * as m from '~/paraglide/messages';
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/Header.astro';
import Footer from '~/components/Footer.astro';
import { Languages } from '~/consts/languages';

export function getStaticPaths() {
    return Object.keys(Languages).map((lang) => ({ params: { lang } }));
}
---

<Layout title="NextMU">
    <div class="container"></div>
    <Header selected="contact-us" />
    <main class="mt-[2rem] flex grow flex-col gap-14 px-2 text-white">
        <div
            class="flex flex-col items-center text-4xl font-bold uppercase drop-shadow-text"
        >
            {m.page_contactus_title()}
        </div>
        <div
            class="max-md:max-w-[80%] flex max-w-4xl flex-col items-center self-center text-xl drop-shadow-text first:max-w-[80vw]"
        >
            <iframe
                class="max-w-[80vw]"
                src="https://discord.com/widget?id=1025209137430265996&theme=dark"
                width="350"
                height="500"
                allowtransparency="true"
                frameborder="0"
                sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"
            ></iframe>
        </div>
    </main>
    <Footer />
</Layout>

<style lang="scss">
    body {
        &::before,
        .container {
            z-index: -1;
            background: url('/images/background.contact-us.webp') center top
                repeat repeat;
            content: ' ';
            position: fixed;
            min-width: 100vw;
            min-height: 100vh;
        }
        &::before {
            filter: blur(16px);
        }
        .container {
            background-repeat: no-repeat;
            box-shadow: inset 100vw 1px rgba(64, 68, 75, 0.6);
        }
    }
</style>
